{
  "openapi": "3.1.0",
  "info": {
    "title": "Hedra API v3",
    "description": "Every leading image, video, and audio model behind one endpoint, one key, and one bill. Browse the [model catalog](https://www.hedra.com/develop/models), then ship with the same key.\n\n**Authenticate** every request with your API key \u2014 create one in the [developer console](https://www.hedra.com/develop/api-keys): `Authorization: Key <key_id>:<secret>`.\n\n**Fund the API wallet** before your first call \u2014 this is the one bill, and it is prepaid. It is held in US dollars, it is separate from your Hedra Studio balance, and a workspace starts with **$0.00** in it; nothing you buy or hold in Studio moves money into it. Until it is funded, every generation is refused with `402 INSUFFICIENT_BALANCE`; uploading inputs with `POST /files` is free and works on an empty wallet, so you can stage a request and only meet the gate at submit. Add funds in the [developer console](https://www.hedra.com/develop/billing), and read the wallet any time with `GET /balance`.\n\n**Quickstart** \u2014 submit a job, poll it, then read the output URL:\n\n```bash\n# 1. Submit \u2014 capture the job id from the 202 ack\nJOB_ID=$(curl -sS -X POST https://api.hedra.com/v3/models/gpt-image-2 \\\n  -H \"Authorization: Key $HEDRA_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"input\": {\"prompt\": \"a space cat\", \"quality\": \"medium\", \"aspect_ratio\": \"1:1\", \"resolution\": \"1K\"}}' | jq -r .job_id)\n\n# 2. Poll until status is COMPLETED (or FAILED)\ncurl https://api.hedra.com/v3/jobs/$JOB_ID/status -H \"Authorization: Key $HEDRA_KEY\"\n\n# 3. Read the result \u2014 outputs[].url holds the generated file\ncurl https://api.hedra.com/v3/jobs/$JOB_ID -H \"Authorization: Key $HEDRA_KEY\"\n```\n\n**Find a model** \u2014 `GET /models` lists every model with its `id` and human `name`; each operation in the *Run a model* section is titled with both, so a model you know by name (\"GPT Image 2\") maps straight to the id you submit to (`gpt-image-2`). One model's typed input schema: `GET /models/{id}/openapi.json`.\n\nEstimate cost before you run with `POST /models/{model}/estimate`. For volume pricing and custom limits, [talk to us](https://www.hedra.com/enterprise).\n\nThe full machine-readable spec is at `https://api.hedra.com/v3/openapi.json`.",
    "version": "3.0.1"
  },
  "servers": [
    {
      "url": "https://api.hedra.com/v3"
    }
  ],
  "paths": {
    "/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List Jobs",
        "operationId": "jobs_list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum items per page.",
              "default": 20,
              "title": "Limit"
            },
            "description": "Maximum items per page."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque cursor from the previous page's `next_cursor`; omit for the first page.",
              "title": "Cursor"
            },
            "description": "Opaque cursor from the previous page's `next_cursor`; omit for the first page."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or failed-validation request.",
            "content": {
              "application/json": {
                "examples": {
                  "field_validation": {
                    "summary": "A submit `input` field failed schema validation",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "2 input fields are invalid; see details.",
                        "retryable": false,
                        "param": "input.aspect_ratio",
                        "details": [
                          {
                            "field": "input.aspect_ratio",
                            "message": "input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'",
                            "reason": "enum"
                          },
                          {
                            "field": "input.duration_ms",
                            "message": "input.duration_ms: Input should be greater than or equal to 1000",
                            "reason": "minimum"
                          }
                        ]
                      }
                    }
                  },
                  "expired_file_handle": {
                    "summary": "A `POST /v3/files` handle was submitted past its `expires_at`",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                        "retryable": false,
                        "param": "input.images[0]",
                        "details": [
                          {
                            "field": "input.images[0]",
                            "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                            "reason": "expired"
                          }
                        ]
                      }
                    }
                  },
                  "unsupported_model": {
                    "summary": "The model exists but isn't wired to v3 yet",
                    "value": {
                      "error": {
                        "code": "FAILED_PRECONDITION",
                        "message": "Model 'some-model' (VIDEO) is not supported on v3 yet.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope or plan.",
            "content": {
              "application/json": {
                "examples": {
                  "no_api_access": {
                    "summary": "Authenticated, but the plan excludes API access",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "This key's plan does not include API access.",
                        "retryable": false
                      }
                    }
                  },
                  "missing_scope": {
                    "summary": "Key lacks a scope the operation requires",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "Key is missing required scope(s): jobs:write.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "examples": {
                  "job_not_found": {
                    "summary": "Unknown job id, or not visible to the caller",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Job not found.",
                        "retryable": false
                      }
                    }
                  },
                  "model_not_found": {
                    "summary": "No such model in the catalog",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Model 'some-model' not found.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request budget for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch second the window resets at.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "examples": {
                  "rate_limited": {
                    "summary": "Per-key request rate limit exceeded",
                    "value": {
                      "error": {
                        "code": "RESOURCE_EXHAUSTED",
                        "message": "Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).",
                        "retryable": true,
                        "retry_after": 30
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "examples": {
                  "internal": {
                    "summary": "Unexpected server error; internals are never leaked",
                    "value": {
                      "error": {
                        "code": "INTERNAL",
                        "message": "An unexpected error occurred",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: missing, malformed, or invalid credentials.",
            "content": {
              "application/json": {
                "examples": {
                  "missing_credentials": {
                    "summary": "No credential on the request",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.",
                        "retryable": false
                      }
                    }
                  },
                  "invalid_key": {
                    "summary": "Credential present but not valid",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Invalid API key.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "KeyAuth": []
          },
          {
            "BearerToken": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.hedra.com/v3/jobs\" \\\n  -H \"Authorization: Bearer $HEDRA_API_KEY\"\n"
          },
          {
            "lang": "python",
            "label": "hedra-python",
            "source": "from hedra import Hedra\n\nclient = Hedra(api_key=\"YOUR_API_KEY\")\n\nclient.jobs.list()\n"
          },
          {
            "lang": "typescript",
            "label": "hedra-node",
            "source": "import { HedraClient } from \"hedra-node\";\n\nconst client = new HedraClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst pageableResponse = await client.jobs.list();\nfor await (const item of pageableResponse) {\n    console.log(item);\n}\n\n// Or you can manually iterate page-by-page\nlet page = await client.jobs.list();\nwhile (page.hasNextPage()) {\n    page = page.getNextPage();\n}\n\n// You can also access the underlying response\nconst response = page.response;\n"
          },
          {
            "lang": "bash",
            "label": "Hedra CLI",
            "source": "hedra jobs list\n"
          }
        ]
      }
    },
    "/jobs/{job_id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get Job",
        "operationId": "jobs_get",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The job's id (`job_<uuid>`).",
              "title": "Job Id"
            },
            "description": "The job's id (`job_<uuid>`)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or failed-validation request.",
            "content": {
              "application/json": {
                "examples": {
                  "field_validation": {
                    "summary": "A submit `input` field failed schema validation",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "2 input fields are invalid; see details.",
                        "retryable": false,
                        "param": "input.aspect_ratio",
                        "details": [
                          {
                            "field": "input.aspect_ratio",
                            "message": "input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'",
                            "reason": "enum"
                          },
                          {
                            "field": "input.duration_ms",
                            "message": "input.duration_ms: Input should be greater than or equal to 1000",
                            "reason": "minimum"
                          }
                        ]
                      }
                    }
                  },
                  "expired_file_handle": {
                    "summary": "A `POST /v3/files` handle was submitted past its `expires_at`",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                        "retryable": false,
                        "param": "input.images[0]",
                        "details": [
                          {
                            "field": "input.images[0]",
                            "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                            "reason": "expired"
                          }
                        ]
                      }
                    }
                  },
                  "unsupported_model": {
                    "summary": "The model exists but isn't wired to v3 yet",
                    "value": {
                      "error": {
                        "code": "FAILED_PRECONDITION",
                        "message": "Model 'some-model' (VIDEO) is not supported on v3 yet.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope or plan.",
            "content": {
              "application/json": {
                "examples": {
                  "no_api_access": {
                    "summary": "Authenticated, but the plan excludes API access",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "This key's plan does not include API access.",
                        "retryable": false
                      }
                    }
                  },
                  "missing_scope": {
                    "summary": "Key lacks a scope the operation requires",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "Key is missing required scope(s): jobs:write.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "examples": {
                  "job_not_found": {
                    "summary": "Unknown job id, or not visible to the caller",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Job not found.",
                        "retryable": false
                      }
                    }
                  },
                  "model_not_found": {
                    "summary": "No such model in the catalog",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Model 'some-model' not found.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request budget for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch second the window resets at.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "examples": {
                  "rate_limited": {
                    "summary": "Per-key request rate limit exceeded",
                    "value": {
                      "error": {
                        "code": "RESOURCE_EXHAUSTED",
                        "message": "Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).",
                        "retryable": true,
                        "retry_after": 30
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "examples": {
                  "internal": {
                    "summary": "Unexpected server error; internals are never leaked",
                    "value": {
                      "error": {
                        "code": "INTERNAL",
                        "message": "An unexpected error occurred",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: missing, malformed, or invalid credentials.",
            "content": {
              "application/json": {
                "examples": {
                  "missing_credentials": {
                    "summary": "No credential on the request",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.",
                        "retryable": false
                      }
                    }
                  },
                  "invalid_key": {
                    "summary": "Credential present but not valid",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Invalid API key.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "KeyAuth": []
          },
          {
            "BearerToken": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.hedra.com/v3/jobs/{job_id}\" \\\n  -H \"Authorization: Bearer $HEDRA_API_KEY\"\n"
          },
          {
            "lang": "python",
            "label": "hedra-python",
            "source": "from hedra import Hedra\n\nclient = Hedra(api_key=\"YOUR_API_KEY\")\n\nclient.jobs.get(\n    job_id=\"job_id\",\n)\n"
          },
          {
            "lang": "typescript",
            "label": "hedra-node",
            "source": "import { HedraClient } from \"hedra-node\";\n\nconst client = new HedraClient({ apiKey: \"YOUR_API_KEY\" });\n\nawait client.jobs.get(\"job_id\");\n"
          },
          {
            "lang": "bash",
            "label": "Hedra CLI",
            "source": "hedra jobs get \\\n  --job-id job_id\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/status": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get Job Status",
        "operationId": "jobs_get_status",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The job's id (`job_<uuid>`).",
              "title": "Job Id"
            },
            "description": "The job's id (`job_<uuid>`)."
          },
          {
            "name": "logs_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Tail this job's lifecycle events incrementally: returns only events newer than this cursor, plus `logs_next_cursor` to send on the next poll. Pass `start` to begin from the job's first event. Omit it and the response carries no events at all \u2014 the default polling shape is unchanged.",
              "title": "Logs After"
            },
            "description": "Tail this job's lifecycle events incrementally: returns only events newer than this cursor, plus `logs_next_cursor` to send on the next poll. Pass `start` to begin from the job's first event. Omit it and the response carries no events at all \u2014 the default polling shape is unchanged."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or failed-validation request.",
            "content": {
              "application/json": {
                "examples": {
                  "field_validation": {
                    "summary": "A submit `input` field failed schema validation",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "2 input fields are invalid; see details.",
                        "retryable": false,
                        "param": "input.aspect_ratio",
                        "details": [
                          {
                            "field": "input.aspect_ratio",
                            "message": "input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'",
                            "reason": "enum"
                          },
                          {
                            "field": "input.duration_ms",
                            "message": "input.duration_ms: Input should be greater than or equal to 1000",
                            "reason": "minimum"
                          }
                        ]
                      }
                    }
                  },
                  "expired_file_handle": {
                    "summary": "A `POST /v3/files` handle was submitted past its `expires_at`",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                        "retryable": false,
                        "param": "input.images[0]",
                        "details": [
                          {
                            "field": "input.images[0]",
                            "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                            "reason": "expired"
                          }
                        ]
                      }
                    }
                  },
                  "unsupported_model": {
                    "summary": "The model exists but isn't wired to v3 yet",
                    "value": {
                      "error": {
                        "code": "FAILED_PRECONDITION",
                        "message": "Model 'some-model' (VIDEO) is not supported on v3 yet.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope or plan.",
            "content": {
              "application/json": {
                "examples": {
                  "no_api_access": {
                    "summary": "Authenticated, but the plan excludes API access",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "This key's plan does not include API access.",
                        "retryable": false
                      }
                    }
                  },
                  "missing_scope": {
                    "summary": "Key lacks a scope the operation requires",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "Key is missing required scope(s): jobs:write.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "examples": {
                  "job_not_found": {
                    "summary": "Unknown job id, or not visible to the caller",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Job not found.",
                        "retryable": false
                      }
                    }
                  },
                  "model_not_found": {
                    "summary": "No such model in the catalog",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Model 'some-model' not found.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request budget for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch second the window resets at.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "examples": {
                  "rate_limited": {
                    "summary": "Per-key request rate limit exceeded",
                    "value": {
                      "error": {
                        "code": "RESOURCE_EXHAUSTED",
                        "message": "Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).",
                        "retryable": true,
                        "retry_after": 30
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "examples": {
                  "internal": {
                    "summary": "Unexpected server error; internals are never leaked",
                    "value": {
                      "error": {
                        "code": "INTERNAL",
                        "message": "An unexpected error occurred",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: missing, malformed, or invalid credentials.",
            "content": {
              "application/json": {
                "examples": {
                  "missing_credentials": {
                    "summary": "No credential on the request",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.",
                        "retryable": false
                      }
                    }
                  },
                  "invalid_key": {
                    "summary": "Credential present but not valid",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Invalid API key.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "KeyAuth": []
          },
          {
            "BearerToken": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.hedra.com/v3/jobs/{job_id}/status\" \\\n  -H \"Authorization: Bearer $HEDRA_API_KEY\"\n"
          },
          {
            "lang": "python",
            "label": "hedra-python",
            "source": "from hedra import Hedra\n\nclient = Hedra(api_key=\"YOUR_API_KEY\")\n\nclient.jobs.get_status(\n    job_id=\"job_id\",\n)\n"
          },
          {
            "lang": "typescript",
            "label": "hedra-node",
            "source": "import { HedraClient } from \"hedra-node\";\n\nconst client = new HedraClient({ apiKey: \"YOUR_API_KEY\" });\n\nawait client.jobs.getStatus(\"job_id\");\n"
          },
          {
            "lang": "bash",
            "label": "Hedra CLI",
            "source": "hedra jobs get-status \\\n  --job-id job_id\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/logs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List Job Logs",
        "operationId": "jobs_list_job_logs",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The job's id (`job_<uuid>`).",
              "title": "Job Id"
            },
            "description": "The job's id (`job_<uuid>`)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum items per page.",
              "default": 20,
              "title": "Limit"
            },
            "description": "Maximum items per page."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque cursor from the previous page's `next_cursor`; omit for the first page.",
              "title": "Cursor"
            },
            "description": "Opaque cursor from the previous page's `next_cursor`; omit for the first page."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobLogListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or failed-validation request.",
            "content": {
              "application/json": {
                "examples": {
                  "field_validation": {
                    "summary": "A submit `input` field failed schema validation",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "2 input fields are invalid; see details.",
                        "retryable": false,
                        "param": "input.aspect_ratio",
                        "details": [
                          {
                            "field": "input.aspect_ratio",
                            "message": "input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'",
                            "reason": "enum"
                          },
                          {
                            "field": "input.duration_ms",
                            "message": "input.duration_ms: Input should be greater than or equal to 1000",
                            "reason": "minimum"
                          }
                        ]
                      }
                    }
                  },
                  "expired_file_handle": {
                    "summary": "A `POST /v3/files` handle was submitted past its `expires_at`",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                        "retryable": false,
                        "param": "input.images[0]",
                        "details": [
                          {
                            "field": "input.images[0]",
                            "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                            "reason": "expired"
                          }
                        ]
                      }
                    }
                  },
                  "unsupported_model": {
                    "summary": "The model exists but isn't wired to v3 yet",
                    "value": {
                      "error": {
                        "code": "FAILED_PRECONDITION",
                        "message": "Model 'some-model' (VIDEO) is not supported on v3 yet.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope or plan.",
            "content": {
              "application/json": {
                "examples": {
                  "no_api_access": {
                    "summary": "Authenticated, but the plan excludes API access",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "This key's plan does not include API access.",
                        "retryable": false
                      }
                    }
                  },
                  "missing_scope": {
                    "summary": "Key lacks a scope the operation requires",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "Key is missing required scope(s): jobs:write.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "examples": {
                  "job_not_found": {
                    "summary": "Unknown job id, or not visible to the caller",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Job not found.",
                        "retryable": false
                      }
                    }
                  },
                  "model_not_found": {
                    "summary": "No such model in the catalog",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Model 'some-model' not found.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request budget for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch second the window resets at.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "examples": {
                  "rate_limited": {
                    "summary": "Per-key request rate limit exceeded",
                    "value": {
                      "error": {
                        "code": "RESOURCE_EXHAUSTED",
                        "message": "Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).",
                        "retryable": true,
                        "retry_after": 30
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "examples": {
                  "internal": {
                    "summary": "Unexpected server error; internals are never leaked",
                    "value": {
                      "error": {
                        "code": "INTERNAL",
                        "message": "An unexpected error occurred",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: missing, malformed, or invalid credentials.",
            "content": {
              "application/json": {
                "examples": {
                  "missing_credentials": {
                    "summary": "No credential on the request",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.",
                        "retryable": false
                      }
                    }
                  },
                  "invalid_key": {
                    "summary": "Credential present but not valid",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Invalid API key.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "KeyAuth": []
          },
          {
            "BearerToken": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.hedra.com/v3/jobs/{job_id}/logs\" \\\n  -H \"Authorization: Bearer $HEDRA_API_KEY\"\n"
          },
          {
            "lang": "python",
            "label": "hedra-python",
            "source": "from hedra import Hedra\n\nclient = Hedra(api_key=\"YOUR_API_KEY\")\n\nclient.jobs.list_job_logs(\n    job_id=\"job_id\",\n)\n"
          },
          {
            "lang": "typescript",
            "label": "hedra-node",
            "source": "import { HedraClient } from \"hedra-node\";\n\nconst client = new HedraClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst pageableResponse = await client.jobs.listJobLogs(\"job_id\");\nfor await (const item of pageableResponse) {\n    console.log(item);\n}\n\n// Or you can manually iterate page-by-page\nlet page = await client.jobs.listJobLogs(\"job_id\");\nwhile (page.hasNextPage()) {\n    page = page.getNextPage();\n}\n\n// You can also access the underlying response\nconst response = page.response;\n"
          },
          {
            "lang": "bash",
            "label": "Hedra CLI",
            "source": "hedra jobs list-job-logs \\\n  --job-id job_id\n"
          }
        ]
      }
    },
    "/jobs/{job_id}/stream": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Stream Job",
        "operationId": "jobs_stream",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The job's id (`job_<uuid>`).",
              "title": "Job Id"
            },
            "description": "The job's id (`job_<uuid>`)."
          },
          {
            "name": "Last-Event-Id",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Resume after this event id \u2014 the standard SSE reconnect header; browsers' EventSource sends it automatically.",
              "title": "Last-Event-Id"
            },
            "description": "Resume after this event id \u2014 the standard SSE reconnect header; browsers' EventSource sends it automatically."
          }
        ],
        "responses": {
          "200": {
            "description": "Server-Sent Events. Each frame's `event:` names its type and its `data:` line is one JSON payload: `status` carries a `StatusResponse`, `log` a `JobLogItem` (the same row `GET /jobs/{job_id}/logs` serves). The stream opens with a `status` snapshot and ends with a `done` frame, sent after the terminal `status` frame: reaching it means the job finished (`COMPLETED` or `FAILED`) and there is nothing more to read. A stream that ends without it was cut short; reconnect with `Last-Event-Id`. Closes the server initiates instead (drain, max connection duration) send a `retry:` line and no `done`. The `done` frame's payload is a `StatusResponse` carrying only `job_id` and `status` \u2014 which job ended and how; the values it omits were just delivered by the terminal `status` frame. `status` and `log` frames carry an `id:` to send back as `Last-Event-Id`; `done` does not, since it is not a new stream position. Comment lines (`: keep-alive`) and `retry:` lines are protocol-level and carry no payload.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "title": "JobStreamFrame",
                  "description": "The payload of one frame's `data:` line, selected by the frame's `event:` type \u2014 `status` and `done` carry a `StatusResponse`, `log` a `JobLogItem`.",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/StatusResponse"
                    },
                    {
                      "$ref": "#/components/schemas/JobLogItem"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid or failed-validation request.",
            "content": {
              "application/json": {
                "examples": {
                  "field_validation": {
                    "summary": "A submit `input` field failed schema validation",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "2 input fields are invalid; see details.",
                        "retryable": false,
                        "param": "input.aspect_ratio",
                        "details": [
                          {
                            "field": "input.aspect_ratio",
                            "message": "input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'",
                            "reason": "enum"
                          },
                          {
                            "field": "input.duration_ms",
                            "message": "input.duration_ms: Input should be greater than or equal to 1000",
                            "reason": "minimum"
                          }
                        ]
                      }
                    }
                  },
                  "expired_file_handle": {
                    "summary": "A `POST /v3/files` handle was submitted past its `expires_at`",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                        "retryable": false,
                        "param": "input.images[0]",
                        "details": [
                          {
                            "field": "input.images[0]",
                            "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                            "reason": "expired"
                          }
                        ]
                      }
                    }
                  },
                  "unsupported_model": {
                    "summary": "The model exists but isn't wired to v3 yet",
                    "value": {
                      "error": {
                        "code": "FAILED_PRECONDITION",
                        "message": "Model 'some-model' (VIDEO) is not supported on v3 yet.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope or plan.",
            "content": {
              "application/json": {
                "examples": {
                  "no_api_access": {
                    "summary": "Authenticated, but the plan excludes API access",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "This key's plan does not include API access.",
                        "retryable": false
                      }
                    }
                  },
                  "missing_scope": {
                    "summary": "Key lacks a scope the operation requires",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "Key is missing required scope(s): jobs:write.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "examples": {
                  "job_not_found": {
                    "summary": "Unknown job id, or not visible to the caller",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Job not found.",
                        "retryable": false
                      }
                    }
                  },
                  "model_not_found": {
                    "summary": "No such model in the catalog",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Model 'some-model' not found.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request budget for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch second the window resets at.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "examples": {
                  "rate_limited": {
                    "summary": "Per-key request rate limit exceeded",
                    "value": {
                      "error": {
                        "code": "RESOURCE_EXHAUSTED",
                        "message": "Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).",
                        "retryable": true,
                        "retry_after": 30
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "examples": {
                  "internal": {
                    "summary": "Unexpected server error; internals are never leaked",
                    "value": {
                      "error": {
                        "code": "INTERNAL",
                        "message": "An unexpected error occurred",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: missing, malformed, or invalid credentials.",
            "content": {
              "application/json": {
                "examples": {
                  "missing_credentials": {
                    "summary": "No credential on the request",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.",
                        "retryable": false
                      }
                    }
                  },
                  "invalid_key": {
                    "summary": "Credential present but not valid",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Invalid API key.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "KeyAuth": []
          },
          {
            "BearerToken": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.hedra.com/v3/jobs/{job_id}/stream\" \\\n  -H \"Authorization: Bearer $HEDRA_API_KEY\"\n"
          },
          {
            "lang": "python",
            "label": "hedra-python",
            "source": "from hedra import Hedra\n\nclient = Hedra(api_key=\"YOUR_API_KEY\")\n\nclient.jobs.stream(\n    job_id=\"job_id\",\n)\n"
          },
          {
            "lang": "typescript",
            "label": "hedra-node",
            "source": "import { HedraClient } from \"hedra-node\";\n\nconst client = new HedraClient({ apiKey: \"YOUR_API_KEY\" });\n\nconst response = await client.jobs.stream(\"job_id\");\nfor await (const item of response) {\n    console.log(item);\n}\n"
          },
          {
            "lang": "bash",
            "label": "Hedra CLI",
            "source": "hedra jobs stream \\\n  --job-id job_id\n"
          }
        ]
      }
    },
    "/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List Models",
        "operationId": "models_list",
        "parameters": [
          {
            "name": "modality",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Modality"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only models with this modality, matching `modality` on each returned model.",
              "title": "Modality"
            },
            "description": "Only models with this modality, matching `modality` on each returned model."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or failed-validation request.",
            "content": {
              "application/json": {
                "examples": {
                  "field_validation": {
                    "summary": "A submit `input` field failed schema validation",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "2 input fields are invalid; see details.",
                        "retryable": false,
                        "param": "input.aspect_ratio",
                        "details": [
                          {
                            "field": "input.aspect_ratio",
                            "message": "input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'",
                            "reason": "enum"
                          },
                          {
                            "field": "input.duration_ms",
                            "message": "input.duration_ms: Input should be greater than or equal to 1000",
                            "reason": "minimum"
                          }
                        ]
                      }
                    }
                  },
                  "expired_file_handle": {
                    "summary": "A `POST /v3/files` handle was submitted past its `expires_at`",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                        "retryable": false,
                        "param": "input.images[0]",
                        "details": [
                          {
                            "field": "input.images[0]",
                            "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                            "reason": "expired"
                          }
                        ]
                      }
                    }
                  },
                  "unsupported_model": {
                    "summary": "The model exists but isn't wired to v3 yet",
                    "value": {
                      "error": {
                        "code": "FAILED_PRECONDITION",
                        "message": "Model 'some-model' (VIDEO) is not supported on v3 yet.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope or plan.",
            "content": {
              "application/json": {
                "examples": {
                  "no_api_access": {
                    "summary": "Authenticated, but the plan excludes API access",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "This key's plan does not include API access.",
                        "retryable": false
                      }
                    }
                  },
                  "missing_scope": {
                    "summary": "Key lacks a scope the operation requires",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "Key is missing required scope(s): jobs:write.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "examples": {
                  "job_not_found": {
                    "summary": "Unknown job id, or not visible to the caller",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Job not found.",
                        "retryable": false
                      }
                    }
                  },
                  "model_not_found": {
                    "summary": "No such model in the catalog",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Model 'some-model' not found.",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request budget for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch second the window resets at.",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "examples": {
                  "rate_limited": {
                    "summary": "Per-key request rate limit exceeded",
                    "value": {
                      "error": {
                        "code": "RESOURCE_EXHAUSTED",
                        "message": "Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).",
                        "retryable": true,
                        "retry_after": 30
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "examples": {
                  "internal": {
                    "summary": "Unexpected server error; internals are never leaked",
                    "value": {
                      "error": {
                        "code": "INTERNAL",
                        "message": "An unexpected error occurred",
                        "retryable": false
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://api.hedra.com/v3/models\" \\\n  -H \"Authorization: Bearer $HEDRA_API_KEY\"\n"
          },
          {
            "lang": "python",
            "label": "hedra-python",
            "source": "from hedra import Hedra\n\nclient = Hedra(api_key=\"YOUR_API_KEY\")\n\nclient.models.list()\n"
          },
          {
            "lang": "typescript",
            "label": "hedra-node",
            "source": "import { HedraClient } from \"hedra-node\";\n\nconst client = new HedraClient({ apiKey: \"YOUR_API_KEY\" });\n\nawait client.models.list();\n"
          },
          {
            "lang": "bash",
            "label": "Hedra CLI",
            "source": "hedra models list\n"
          }
        ]
      }
    },
    "/models/dreamina-31": {
      "post": {
        "tags": [
          "Run a model"
        ],
        "operationId": "submit_dreamina_31",
        "summary": "Run Dreamina 3.1 (dreamina-31)",
        "description": "Ultra high quality generations for professional grade images.\n\nSubmits an asynchronous job and returns `202` with a job id. Fetch the result at `GET /v3/jobs/{job_id}` \u2014 each item in its `outputs[]` follows the `OutputItem` schema \u2014 or track progress via `GET /v3/jobs/{job_id}/status` / the SSE stream at `GET /v3/jobs/{job_id}/stream`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitBody_dreamina_31"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The job runs asynchronously; poll `status_url` / `result_url` from the ack.",
            "headers": {
              "Location": {
                "description": "Path of the job resource this submit created \u2014 the same value as the ack's `result_url`.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or failed-validation request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "field_validation": {
                    "summary": "A submit `input` field failed schema validation",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "2 input fields are invalid; see details.",
                        "retryable": false,
                        "param": "input.aspect_ratio",
                        "details": [
                          {
                            "field": "input.aspect_ratio",
                            "message": "input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'",
                            "reason": "enum"
                          },
                          {
                            "field": "input.duration_ms",
                            "message": "input.duration_ms: Input should be greater than or equal to 1000",
                            "reason": "minimum"
                          }
                        ]
                      }
                    }
                  },
                  "expired_file_handle": {
                    "summary": "A `POST /v3/files` handle was submitted past its `expires_at`",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                        "retryable": false,
                        "param": "input.images[0]",
                        "details": [
                          {
                            "field": "input.images[0]",
                            "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                            "reason": "expired"
                          }
                        ]
                      }
                    }
                  },
                  "unsupported_model": {
                    "summary": "The model exists but isn't wired to v3 yet",
                    "value": {
                      "error": {
                        "code": "FAILED_PRECONDITION",
                        "message": "Model 'some-model' (VIDEO) is not supported on v3 yet.",
                        "retryable": false
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: missing, malformed, or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing_credentials": {
                    "summary": "No credential on the request",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.",
                        "retryable": false
                      }
                    }
                  },
                  "invalid_key": {
                    "summary": "Credential present but not valid",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Invalid API key.",
                        "retryable": false
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "The API wallet cannot cover this request. `error.billing` carries the balance, the price, and where to add funds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unfunded_submit": {
                    "summary": "The API wallet cannot pay for this job",
                    "value": {
                      "error": {
                        "code": "INSUFFICIENT_BALANCE",
                        "message": "Your API wallet balance is $0.00 and this request costs $0.05. The API wallet is funded separately from Studio and pays only for API requests \u2014 add funds at https://www.hedra.com/develop/billing, then retry.",
                        "retryable": false,
                        "billing": {
                          "balance": 0.0,
                          "required": 0.05,
                          "currency": "USD",
                          "funding_url": "https://www.hedra.com/develop/billing?add_funds=true"
                        }
                      }
                    }
                  },
                  "unquotable_submit": {
                    "summary": "The model cannot be priced before its inputs are measured, so `required` is null",
                    "value": {
                      "error": {
                        "code": "INSUFFICIENT_BALANCE",
                        "message": "Your API wallet balance is $0.00. The API wallet is funded separately from Studio and pays only for API requests \u2014 add funds at https://www.hedra.com/develop/billing, then retry.",
                        "retryable": false,
                        "billing": {
                          "balance": 0.0,
                          "currency": "USD",
                          "funding_url": "https://www.hedra.com/develop/billing?add_funds=true"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope or plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "no_api_access": {
                    "summary": "Authenticated, but the plan excludes API access",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "This key's plan does not include API access.",
                        "retryable": false
                      }
                    }
                  },
                  "missing_scope": {
                    "summary": "Key lacks a scope the operation requires",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "Key is missing required scope(s): jobs:write.",
                        "retryable": false
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "job_not_found": {
                    "summary": "Unknown job id, or not visible to the caller",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Job not found.",
                        "retryable": false
                      }
                    }
                  },
                  "model_not_found": {
                    "summary": "No such model in the catalog",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Model 'some-model' not found.",
                        "retryable": false
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Per-key request rate limit exceeded",
                    "value": {
                      "error": {
                        "code": "RESOURCE_EXHAUSTED",
                        "message": "Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).",
                        "retryable": true,
                        "retry_after": 30
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request budget for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch second the window resets at.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal": {
                    "summary": "Unexpected server error; internals are never leaked",
                    "value": {
                      "error": {
                        "code": "INTERNAL",
                        "message": "An unexpected error occurred",
                        "retryable": false
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Moderation refused the request's content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "moderation_failed": {
                    "summary": "A reference image was refused by moderation",
                    "value": {
                      "error": {
                        "code": "MODERATION_FAILED",
                        "message": "Image failed moderation.",
                        "retryable": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "KeyAuth": []
          },
          {
            "BearerToken": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST \"https://api.hedra.com/v3/models/dreamina-31\" \\\n  -H \"Authorization: Bearer $HEDRA_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n  \"input\": {\n    \"aspect_ratio\": \"16:9\",\n    \"prompt\": \"prompt\",\n    \"resolution\": \"540p\"\n  }\n}'\n"
          },
          {
            "lang": "python",
            "label": "hedra-python",
            "source": "from hedra import Hedra, InputDreamina31\n\nclient = Hedra(api_key=\"YOUR_API_KEY\")\n\nclient.jobs.submit_dreamina31(\n    input=InputDreamina31(\n        prompt=\"prompt\",\n        aspect_ratio=\"16:9\",\n        resolution=\"540p\",\n    ),\n)\n"
          },
          {
            "lang": "typescript",
            "label": "hedra-node",
            "source": "import { HedraClient } from \"hedra-node\";\n\nconst client = new HedraClient({ apiKey: \"YOUR_API_KEY\" });\n\nawait client.jobs.submitDreamina31({\n    input: {\n        prompt: \"prompt\",\n        aspect_ratio: \"16:9\",\n        resolution: \"540p\"\n    }\n});\n"
          },
          {
            "lang": "bash",
            "label": "Hedra CLI",
            "source": "hedra jobs submit-dreamina-31 \\\n  --json '{\n  \"input\": {\n    \"aspect_ratio\": \"16:9\",\n    \"prompt\": \"prompt\",\n    \"resolution\": \"540p\"\n  }\n}'\n"
          }
        ]
      }
    },
    "/models/elevenlabs-flash-multilingual-v2": {
      "post": {
        "tags": [
          "Run a model"
        ],
        "operationId": "submit_elevenlabs_flash_multilingual_v2",
        "summary": "Run ElevenLabs Flash Multilingual V2 (elevenlabs-flash-multilingual-v2)",
        "description": "Submits an asynchronous job and returns `202` with a job id. Fetch the result at `GET /v3/jobs/{job_id}` \u2014 each item in its `outputs[]` follows the `OutputItem` schema \u2014 or track progress via `GET /v3/jobs/{job_id}/status` / the SSE stream at `GET /v3/jobs/{job_id}/stream`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitBody_elevenlabs_flash_multilingual_v2"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The job runs asynchronously; poll `status_url` / `result_url` from the ack.",
            "headers": {
              "Location": {
                "description": "Path of the job resource this submit created \u2014 the same value as the ack's `result_url`.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or failed-validation request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "field_validation": {
                    "summary": "A submit `input` field failed schema validation",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "2 input fields are invalid; see details.",
                        "retryable": false,
                        "param": "input.aspect_ratio",
                        "details": [
                          {
                            "field": "input.aspect_ratio",
                            "message": "input.aspect_ratio: Input should be '16:9', '9:16' or '1:1'",
                            "reason": "enum"
                          },
                          {
                            "field": "input.duration_ms",
                            "message": "input.duration_ms: Input should be greater than or equal to 1000",
                            "reason": "minimum"
                          }
                        ]
                      }
                    }
                  },
                  "expired_file_handle": {
                    "summary": "A `POST /v3/files` handle was submitted past its `expires_at`",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                        "retryable": false,
                        "param": "input.images[0]",
                        "details": [
                          {
                            "field": "input.images[0]",
                            "message": "input.images[0]: the POST /v3/files url expired at 2026-07-28T23:31:12+00:00. Upload the file again and submit with the fresh url.",
                            "reason": "expired"
                          }
                        ]
                      }
                    }
                  },
                  "unsupported_model": {
                    "summary": "The model exists but isn't wired to v3 yet",
                    "value": {
                      "error": {
                        "code": "FAILED_PRECONDITION",
                        "message": "Model 'some-model' (VIDEO) is not supported on v3 yet.",
                        "retryable": false
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed: missing, malformed, or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missing_credentials": {
                    "summary": "No credential on the request",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Missing credentials. Send 'Authorization: Key <key_id>:<secret>' or 'Authorization: Bearer <token>'.",
                        "retryable": false
                      }
                    }
                  },
                  "invalid_key": {
                    "summary": "Credential present but not valid",
                    "value": {
                      "error": {
                        "code": "UNAUTHORIZED",
                        "message": "Invalid API key.",
                        "retryable": false
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "The API wallet cannot cover this request. `error.billing` carries the balance, the price, and where to add funds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unfunded_submit": {
                    "summary": "The API wallet cannot pay for this job",
                    "value": {
                      "error": {
                        "code": "INSUFFICIENT_BALANCE",
                        "message": "Your API wallet balance is $0.00 and this request costs $0.05. The API wallet is funded separately from Studio and pays only for API requests \u2014 add funds at https://www.hedra.com/develop/billing, then retry.",
                        "retryable": false,
                        "billing": {
                          "balance": 0.0,
                          "required": 0.05,
                          "currency": "USD",
                          "funding_url": "https://www.hedra.com/develop/billing?add_funds=true"
                        }
                      }
                    }
                  },
                  "unquotable_submit": {
                    "summary": "The model cannot be priced before its inputs are measured, so `required` is null",
                    "value": {
                      "error": {
                        "code": "INSUFFICIENT_BALANCE",
                        "message": "Your API wallet balance is $0.00. The API wallet is funded separately from Studio and pays only for API requests \u2014 add funds at https://www.hedra.com/develop/billing, then retry.",
                        "retryable": false,
                        "billing": {
                          "balance": 0.0,
                          "currency": "USD",
                          "funding_url": "https://www.hedra.com/develop/billing?add_funds=true"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Insufficient scope or plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "no_api_access": {
                    "summary": "Authenticated, but the plan excludes API access",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "This key's plan does not include API access.",
                        "retryable": false
                      }
                    }
                  },
                  "missing_scope": {
                    "summary": "Key lacks a scope the operation requires",
                    "value": {
                      "error": {
                        "code": "PERMISSION_DENIED",
                        "message": "Key is missing required scope(s): jobs:write.",
                        "retryable": false
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "job_not_found": {
                    "summary": "Unknown job id, or not visible to the caller",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Job not found.",
                        "retryable": false
                      }
                    }
                  },
                  "model_not_found": {
                    "summary": "No such model in the catalog",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Model 'some-model' not found.",
                        "retryable": false
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "rate_limited": {
                    "summary": "Per-key request rate limit exceeded",
                    "value": {
                      "error": {
                        "code": "RESOURCE_EXHAUSTED",
                        "message": "Request rate limit exceeded: this API key is limited to 60 requests per 60s. Retry after 30s. To follow job progress without polling, stream job status (https://www.hedra.com/docs/api-reference/v3/jobs/stream-job) or subscribe to webhooks (https://www.hedra.com/docs/api-reference/v3/webhooks).",
                        "retryable": true,
                        "retry_after": 30
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Request budget for the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests left in the current window.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch second the window resets at.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal": {
                    "summary": "Unexpected server error; internals are never leaked",
                    "value": {
                      "error": {
                        "code": "INTERNAL",
                        "message": "An unexpected error occurred",
                        "retryable": false
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
[...]
